/* Mejora del carousel */

:root {
    
    /*No estaria funcionando*/
    
    --carouselAncho: 1200px;
    --carouselAlto: 600px;
  }
  
  .carousel-container 
  {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 5px;
  }
  
  .carousel-inner 
  {
    width: 100%;
    height: 100%;
    margin: 5px 0;
    overflow: hidden;
  }
  
  .carousel-inner img 
  {
    width: var(--carouselAncho2);
    height: var(--carouselAlto2);
    object-fit: fill;
  }
  
  .carousel-container button,
  .carousel-container span 
  {
    width: var(--carouselAncho);
    height: auto;
  }
  
@media screen and (min-width: 360px) 
{
    :root 
    {
      --carouselAncho2: 1000px;
      --carouselAlto2: 300px;
    }
  
    .carousel-inner img {
      width: var(--carouselAncho2);
      height: var(--carouselAlto2);
    }
  
    .carousel-container button,
    .carousel-container span {
      width: var(--carouselAncho2);
    }
  }
  
