.carousel-container /*Contenedor agregado*/
{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    height: 350px;
    overflow: hidden;
}

.carousel-img /*Clase agregada*/
{
    width: 400px; /*Todas las imagenes tienen el mismo tamaño*/
    height: 300px; 
    object-fit: contain;
}
