/*Edicion del banner*/

.banner /*Imagen banner*/
{ 
    height: 20vh;
    width: 100%;
    background-image: url("../img/biblio.png");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner 
{
    background-color: rgba(0,0,0,1);
    opacity: 0.9;
}

.banner h1 /*Titulo del banner*/
{
    font-family: "Shadows Into Light", cursive;
    font-weight: 700;
    color: rgb(255, 250, 250);
    font-size: 20vh 20vw;

    display: flex; /*Cambio todo a flex para dejar todo centrado*/

    text-align: center;

}

/*Tamaño movil 360x800*/

@media screen and (max-width: 360px) 
{
    .banner
    {
        height: 8vh;
    }
}