/* Configuracion grilla main */
.grid-index-container-main {
    margin: 5px;
    display: grid;
    grid-template-columns:0.1 0.4 0.4 .4; /*4 columnas */ /*Se intento buscar proporcionalidad*/
    grid-template-rows: 0.2fr 0.1fr 0.3fr 0.3fr 1fr; /*5 filas*/
    gap: 2px;
    object-fit: contain;
}

/* Asignacion de areas de los ID */

#quienes-somos 
{
    background-color: red;
    grid-area: quienes-somos;
}

#carousel 
{
    background-color: green;
    grid-area: carousel; 
}

#catalogo1
{
    background-color: gray;
    grid-area: catalogo1; 
}

#catalogo2 
{
    background-color: yellow;
    grid-area: catalogo2; 
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    align-content: start;
    justify-content: space-evenly;
    margin:0px;
    object-fit: contain;

}

#favoritos {
    background-color: blue;
    grid-area: favoritos;
}

/* Distribucion de areas */
.grid-index-container-main {
    grid-template-areas:
        "quienes-somos quienes-somos quienes-somos quienes-somos" 
        "carousel carousel carousel carousel"
        "catalogo1 catalogo2 catalogo2 catalogo2"
        "catalogo1 catalogo2 catalogo2 catalogo2"
        "favoritos favoritos favoritos favoritos"; 
}

/*Tamaño movil 360x800*/

@media screen and (max-width: 360px) 
{
    .grid-index-container-main 
    {
        grid-template-columns: 1fr; /*Todo en columnado*/
        grid-template-rows: 0.1fr 0.1fr 0.5fr 0.5fr 0.5fr;
    }

    #quienes-somos, /*Areas automaticas*/
    #carousel,
    #catalogo,
    #favoritos 
    {
        grid-area: auto;
    }

    .grid-index-container-main {
        grid-template-areas:
            "quienes-somos"
            "carousel"
            "catalogo1"
            "catalogo2"
            "favoritos";
    }
}