/* Configuracion grilla main */
.grid-index-container-main {
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr); /*4 columnas */
    grid-template-rows: 0.2fr repeat(3, 1fr); /*4 filas*/
    gap: 2px;
}

/* Asignacion de areas de los ID */

#quienes-somos {
    background-color: red;
    grid-area: quienes-somos;
}

#carousel {
    background-color: green;
    grid-area: carousel; 
}

#catalogo {
    background-color: yellow;
    grid-area: catalogo; 
    justify-content: center;
}

#favoritos {
    background-color: blue;
    grid-area: favoritos;
}

/* Distribucion de areas */
.grid-index-container-main {
    grid-template-areas:
        "quienes-somos carousel carousel carousel"
        "catalogo catalogo catalogo catalogo"
        "favoritos favoritos favoritos favoritos"; 
}
