/*Edicion complementaria del carousel*/

#carousel-seccion
{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;

    margin:0px;
    background-color: none;
}

.carousel-img
{       
    background-color: black;

    object-position: center;

    width: 800px; /*Tamaño del contenedor*/
    height: 800px;
    margin: 20px 0px; /*Agrego un gap con el banner*/ 
}

/*-----------------------------------------------------------------
No tocar mas la edicion de imagenes del carousel.
Empieza a entrar en conflicto con .css y .js de bootstrap.
No retocar el flex por lo anterior.
Investigar como hacerlo "responsive", ya que el carousel es gigante.
-----------------------------------------------------------------*/