/*Solo nav*/


nav {
    height: 08vh;  /*queremos tener el 20% de alto del navegador*/
    background-color: #400701 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    
}

nav .nav-search {
    display: flex;
}
nav .nav-search .nav-search-input input{
    border-top-left-radius: 10rem ;
    border-bottom-left-radius: 10rem ;
}
nav .nav-search .nav-search-btn{
    border-top-right-radius: 10rem ;
    border-bottom-right-radius: 10rem ;
}

#nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    
}

#nav-links li a {
    text-decoration: none;
    color: inherit;
}



/* Estilos footer */
footer .footer-links{
    background-color: #333333;
    list-style: none;
}
footer .footer-links ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
}
footer .footer-links ul li a{
    text-decoration: none;
    color: #ffffff
    
}
footer .footer-links ul li a:hover{
    color: #ffffff;
    background: linear-gradient(#e66465, #9198e5);
    border-radius: 0.3rem ;
}